/tslies/examples/*/results/
/tslies/examples/*/logs/
/tslies/examples/*/data
/tslies/examples/*/catalogs
/tslies/examples/*/__pycache__/
/tslies/__pycache__/
/__pycache__/
*.pyc
/tslies/lime/
/.vscode/
/dist/
/build/
/tslies.egg-info/
